@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Reg">Reg</a>
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Login">Log in</a>
</div>
