@{
}
<div>
    <h3>REGISTRATION</h3>
    <form action="RegAction">
        <input name="login" type="text" placeholder="login" />
        <input name="password" type="password" placeholder="password" />
        <input type="submit" value="submit"/>
    </form>
</div>